* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#body {
  padding: 10px;
  padding-bottom: 60px;
}
body {
  cursor: default;
}
body {
  background-image: url("/static/background_img.jpg");
  background-size: cover;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  cursor: url("cursor.png") 1 1, auto;
}
body {
  cursor: default;
}

header {
  background-color: rgba(35, 35, 45, 0.7);
  padding: 20px;
  
}
#header {
  padding: 10px;
}

#section {
  padding: 50px;
}
.logo img {
  max-width: 50px;
  border-radius: 50%;
}

.title h1 {
  color: goldenrod;
  margin: 0;
  font-size: 2.8vw;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Caveat";
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  margin-top: 4%;
  margin-left: 10%;
}

.text {
  color: #ccc;
  padding: 20px;
  /* margin-top: 1vh; */
  margin-left: 5vh;
  max-width: 500px; 
}
.text h1 {
  color: #860dff;
  margin-bottom: 10px;
  font-size: 5vh;
  font-weight: 500;
  font-family: "Crimson Text", serif;
}
.text h2 {
  color: #ffbe0d;
  margin-bottom: 10px;
  font-size: 4.4vh;
  margin-right: 4vh;
  font-weight: 300;
  font-family: "Caveat", cursive;
}
.text p {
  color: #fff; /* Adjust the color as needed */
  margin-top: 5%;
  font-size: 2vh+0.3vw;
  font-family: "Montserrat", sans-serif;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons a {
  margin-right: 15px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #0da3ff;
}

/* Form Container Styles */
.form-container {
  padding-left: 4vh;
  padding-right: 4vh;
  padding-top: 1vh;
  margin-top: 2vh;
  width: 27vw;
  height: 55vh;
  border: 2px solid rgba(248, 229, 13, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 1px 3px rgba(248, 229, 13, 0.3);
}
.form-container .form-content h2 {
  text-align: center;
  font-size: 2vw;
  font-weight: 300;
  margin-top: 1vw;
  color: rgb(255, 200, 0);
}

.login-form input {
  padding: 10px;
  background-color: transparent;
}

.inputbox ::placeholder {
  color: #b3b3b3b0;
}
.inputbox {
  position: relative;
  margin: 0.8vw;
  width: 310px;
  border-bottom: 2px solid #303436;
  padding: 5px 0px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 2.1vh;
  padding: 0 35px 0 5px;
  color: #fff;
}
.inputbox {
  position: relative;
  margin: 2% 0;
  width: 100%;
}
#forget {
  padding-top: 1.5vh;
  font-size: 2.2vh;
  font-weight: 600;
  margin-top: 5vh;
}
#register {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  --darkreader-inline-color: #e8e6e3;
}
button {
  background: none;
}
#button {
  padding-left: 1vw;
  margin-top: 0;
  margin-bottom: 1rem;
}
#footer {
  bottom: 0;
  background-color: rgba(35, 35, 45, 0.7);
  color: #fff;
  height: 70px;
  padding: 30px 0;
  font-size: 14px;
  width: 100%;
  position: absolute;
  text-align: center;
}
#container {
  min-height: 100%;
  position: relative;
}
.nav {
  height: 4em;
  display: flex;
  align-items: center;
  margin-left: 5vw;
  gap: 20vw;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon img{
  max-height: 40px;
  /* display: none; */
}
.social-icon::before {
  content: "";
  position: absolute;
  top: 10;
  left: 10;
  width: 0;
  height: 100%;
  background-color: #39066d80; 
  transition: width 0.3s ease;
}
.social-icon {
  margin-right: 15px;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #3a066d; 
  transition: background-color 0.3s ease;
}



.social-icon:hover {
  background-color: transparent; /* Change background color on hover */
}
.social-icon:hover::before {
  width: 100%;
}

.register {
  margin-top: 5%;
}

nav ul button {
  color: goldenrod;
  font-size: 16px;
  border: 0.3em solid goldenrod;
  border-radius: 0.5em;
  width: 60%;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: goldenrod;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul button {
  color: goldenrod;
  font-size: 16px;
  border: 0.3em solid goldenrod;
  border-radius: 0.5em;
  width: 60%;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: goldenrod;
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

nav ul button:hover {
  color: black;
}

nav ul button:hover span {
  transform: translateY(0) scale(2);
}

nav ul button span:nth-child(1) {
  --n: 1;
}

nav ul button span:nth-child(2) {
  --n: 2;
}

nav ul button span:nth-child(3) {
  --n: 3;
}

nav ul button span:nth-child(4) {
  --n: 4;
}

@media (max-width: 1000px) {
  html,
  body {
    min-height: fit-content;
  }
  .login-section {
    flex-direction: column;
  }
  .nav {
    display: block;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* size: 10vm; */
  }

  .text,
  .form-container {
    width: 100%;
    nav ul button {
      color: (goldenrod);
      font-size: 16px;
      border: 0.3em solid (goldenrod);
      border-radius: 0.5em;
      width: 60%;
      text-transform: uppercase;
      font-weight: bold;
      font-family: sans-serif;
      letter-spacing: 0.1em;
      text-align: center;
      line-height: 3em;
      position: relative;
      overflow: hidden;
      z-index: 1;
      transition: 0.5s;
    }
    nav ul button span {
      position: absolute;
      width: 25%;
      height: 100%;
      background-color: goldenrod;
      transform: translateY(150%);
      border-radius: 50%;
      left: calc((var(--n) - 1) * 25%);
      transition: 0.5s;
      transition-delay: calc((var(--n) - 1) * 0.1s);
      z-index: -1;
    }
    h1 {
      font-size: 8vw;
      
      margin-top: auto;
    }
    h2 {
      font-size: 5vw;
      /* margin-top: 0vh; */
    }
    nav ul button:hover {
      color: black;
    }

    nav ul button:hover span {
      transform: translateY(0) scale(2);
    }

    nav ul button span:nth-child(1) {
      --n: 1;
    }

    nav ul button span:nth-child(2) {
      --n: 2;
    }

    nav ul button span:nth-child(3) {
      --n: 3;
    }

    nav ul button span:nth-child(4) {
      --n: 4;
    }

    max-width: none;
    margin: 2%;
  }

  .form-container .form-content h2 {
    font-size: 6vw;
  }
  .inputbox {
    margin: 10px 0;
  }
  #forget {
    margin-top: 2vw;
  }
  #footer {
    /* display: none; */
    bottom: auto;
  }
}
